body {
    background-image: url('../img/fondoSport.avif');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-deporte {
    background-color: #FF6F61;
    border-color: #FF6F61;
    color: #FFF;
}

.btn-deporte:hover {
    background-color: #FFF;
    border-color: #FF6F61;
    color: #FF6F61;
}

.btn-productos {
    background-color: #FF6F61;
    color: #FFF;
}

.btn-productos:hover {
    background-color: #FFF;
    border-color: #FF6F61;
    color: #FF6F61;
}

ul.list-unstyled a {
    color: #FF6F61;
}

.btn-susbribete {
    background-color: #FF6F61;
    color: #FFF;
}

.btn-susbribete:hover {
    background-color: #FFF;
    border-color: #FF6F61;
    color: #FF6F61;
}