body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-deporte {
    background-color: #FF6F61;
    border-color: #FF6F61;
    color: #FFF;
}

.btn-deporte:hover {
    background-color: #FFF;
    border-color: #FF6F61;
    color: #FF6F61;
}

.btn-productos {
    background-color: #FF6F61;
    color: #FFF;
}

.btn-productos:hover {
    background-color: #FFF;
    border-color: #FF6F61;
    color: #FF6F61;
}

ul.list-unstyled a {
    color: #FF6F61;
}

.btn-susbribete {
    background-color: #FF6F61;
    color: #FFF;
}

.btn-susbribete:hover {
    background-color: #FFF;
    border-color: #FF6F61;
    color: #FF6F61;
}

.boton {
    display: inline-block;
    background-color: #FFFFFF;
    color: #FF6F61;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 18px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: #FF6F61;
    color: #FFFFFF;
}

.categorias {
    background-color: #F5F5F5;
    padding: 50px;
    text-align: center;
}

.categorias h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.categorias ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.categorias ul li {
    margin-bottom: 20px;
}

.categorias ul li a {
    color: #FF6F61;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.categorias ul li a:hover {
    color: #000000;
}

.destacados {
    padding: 50px;
    text-align: center;
}

.destacados h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.producto {
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

.producto img {
    max-width: 100%;
    margin-bottom: 20px;
}

.producto h3 {
    font-size: 24px;
    margin: 0;
}

.producto p {
    font-size: 18px;
    margin-bottom: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonios {
    background-color: #FFFFFF;
    padding: 50px;
    text-align: center;
}

.testimonios h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.testimonio {
    max-width: 600px;
    margin: 0 auto 30px;
    text-align: center;
}

.testimonio p:first-of-type {
    font-size: 24px;
    margin-bottom: 20px;
}

.testimonio p:last-of-type {
    font-size: 18px;
    margin: 0;
}